<p>Module tutorial</p>
<app-login></app-login>

<h3>events in angular</h3>

<button (click)="myEvent('this is click eveing')">Click Me</button><br /><br />
<input type="text" #inputKeyUp (keyup)="myEvent(inputKeyUp.value)" />
<p>enter key pressed inputbox value</p>
<input type="text" #inputKeyUp1 (keyup.enter)="myEvent(inputKeyUp1.value)" />
<p>Space key pressed inputbox value</p>
<input type="text" #inputKeyUp2 (keyup.space)="myEvent(inputKeyUp2.value)" />
<p>keyDown event</p>
<input
  type="text"
  #inputKeyDown
  (keydown.enter)="myEvent(inputKeyDown.value)"
/>
<p>blur event</p>
<input type="text" #inputBlur (blur)="myEvent(inputBlur.value)" />
<p>mouse-over event</p>

<div
  (mouseover)="myEvent('mouse-over event')"
  style="background-color: aquamarine"
>
  Tanaya Lokare
</div>

<p>mouse leave event example</p>
<div
  (mouseleave)="myEvent('mouse-leave event')"
  style="background-color: burlywood"
>
  Tanaya pramod Lokare
</div>
<br/>
<button (click) = "funExample();">More example</button>
<router-outlet></router-outlet>

